*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: gray;
}

main {
  display: flex;
  justify-content: center;
}

main .container {
  width: 58%;
  margin-top: 100px;
  background-color: white;
}

main .container #header-line {
  height: 35px;
  background-color: aqua;
}

main .container #bio {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

main .container #bio .border {
  width: 80%;
  display: flex;
  align-items: center;
}

main .container #bio .border img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

main .container #bio .border .text {
  margin-left: 50px;
}

main .container #bio .border .text h2 {
  text-transform: uppercase;
  font-weight: unset;
}

main .container #bio .border .text h3 {
  margin-top: 10px;
}

main .container .content {
  display: flex;
  margin-top: 70px;
  margin-bottom: 30px;
}

main .container .content #left {
  width: 35%;
  margin-left: 15px;
  border-right: 2px solid #dde1e6;
}

main .container .content #left .objective {
  text-align: right;
  width: 90%;
  border-bottom: 2px solid #dde1e6;
}

main .container .content #left .objective h2 {
  text-transform: uppercase;
}

main .container .content #left .objective p {
  margin-top: 17px;
  line-height: 20px;
  margin-bottom: 15px;
}

main .container .content #left .contact {
  margin-top: 20px;
  width: 90%;
  border-bottom: 2px solid #dde1e6;
}

main .container .content #left .contact h2 {
  text-transform: uppercase;
  text-align: right;
}

main .container .content #left .contact ul {
  list-style: none;
  text-align: right;
  margin-bottom: 15px;
}

main .container .content #left .contact ul li {
  margin-top: 20px;
}

main .container .content #left .contact ul li a {
  text-decoration: none;
}

main .container .content #left .contact ul li:nth-child(1) {
  margin-top: 10px;
}

main .container .content #left .skills {
  margin-top: 20px;
  width: 90%;
  border-bottom: 2px solid #dde1e6;
}

main .container .content #left .skills h2 {
  text-transform: uppercase;
  text-align: right;
}

main .container .content #left .skills ul {
  list-style: none;
  text-align: right;
  margin-bottom: 15px;
}

main .container .content #left .skills ul li {
  margin-top: 20px;
}

main .container .content #left .skills ul li:nth-child(1) {
  margin-top: 10px;
}

main .container .content #left .languages {
  margin-top: 20px;
  width: 90%;
  border-bottom: 2px solid #dde1e6;
}

main .container .content #left .languages h2 {
  text-transform: uppercase;
  text-align: right;
}

main .container .content #left .languages ul {
  list-style: none;
  text-align: right;
  margin-bottom: 15px;
}

main .container .content #left .languages ul li {
  margin-top: 20px;
}

main .container .content #left .languages ul li:nth-child(1) {
  margin-top: 10px;
}




main .container .content #right {
  margin-left: 40px;
  width: 58%;
}

main .container .content #right .education {
  border-bottom: 2px solid #dde1e6;
}

main .container .content #right .education h2 {
  text-transform: uppercase;
}

main .container .content #right .education .bachelor {
  margin-top: 10px;
}

main .container .content #right .education .bachelor h3, h4 {
  font-weight: unset;
}

main .container .content #right .education .bachelor .title {
  display: flex;
  justify-content: space-between;
}

main .container .content #right .education .bachelor .university {
  margin-top: 10px;
}

main .container .content #right .education .magistr {
  margin-top: 20px;
  margin-bottom: 30px;
}

main .container .content #right .education .magistr h3, h4 {
  font-weight: unset;
}

main .container .content #right .education .magistr .title {
  display: flex;
  justify-content: space-between;
}

main .container .content #right .education .magistr .university {
  margin-top: 10px;
}